/* ---------------------------------------------
Table of contents
------------------------------------------------
01. head (Line 19 -)
02. sign in sign up (Line 300 -)
03. image-grid (line 493 -)
04. showcase-product
05. subscribe
06. footer
07. mens/ womens and kids products
08. contact us 
09. About Us
10. shopping-cart
11. checkout-form
12. all-alert-messages

*/
/*--------------------------------------------- 
Head
 ---------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

.top-nav {
  margin-top: auto;
  margin-bottom: auto;
}

.navbar {
  width: 80%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header-logo {
  width: 60px;
  height: 70px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}
.nav-name {
  float: right;
  margin-top: 13px;
  margin-left: 5px;
}
.nav-name h1 {
  font-size: 25px;
  font-family: Helvetica;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.head_small {
  color: grey;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 2px;
}
.nav-left {
  display: flex;
}

ul li h2 {
  font-weight: 600;
  font-size: 16px;
  font-family: "poppins", Helvetica, sans-serif;
  letter-spacing: 2px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #d3d3d3;
  position: absolute;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.topnav {
  overflow: hidden;
  background-color: white;
  float: right;
  margin-top: 20px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  font-family: "poppins", sans-serif;
  padding: 10px 16px;
  letter-spacing: 1px;
}

.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: black;
  margin: 0;
  font-weight: 600;
  font-family: "poppins", sans-serif;
  padding: 10px 16px;
  letter-spacing: 1px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#logoutForm,
#openForm {
  font-weight: 700;
  cursor: pointer;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  color: gray;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

@media screen and (max-width: 1330px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    float: none;
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1330px) {
  .topnav.responsive {
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
  }

  hr {
    display: none;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    justify-content: center;
  }

  .topnav.responsive .dropdown {
    width: 200px;
    margin: 0 auto;
    float: none;
  }

  .dropdown-content a {
    text-align: center;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
    position: fixed;
    margin-left: 20px;
  }
  .topnav.responsive .dropdown .dropbtn {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }

  .content {
    width: 100%;
  }
  .nav-left {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 920px) {
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 1540px) {
  .nav-name {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

@media screen and (max-width: 1331px) {
  .nav-name {
    margin-top: 10px;
    margin-bottom: 1px;
  }
  .nav-left {
    margin-left: 35%;
  }
}

@media screen and (max-width: 801px) {
  .nav-left {
    width: auto;
    margin-left: 10px;
  }
  .nav-name {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .nav-left {
    margin-left: 10px;
  }
}
/* 
---------------------------------------------
sign in sign up
--------------------------------------------- 
*/
.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "poppins";
  transform: translate(-50%, -50%);
  border: 1px solid #2a2a2a;
  border-radius: 25px;
  width: 350px;
  height: 420px;
  text-align: center;
  color: white;
  z-index: 15;
  background-color: #2a2a2a;
  opacity: 93%;
}

.sibut {
  color: #89cff0;
  text-decoration: underline;
  cursor: pointer;
}

#reg-btn {
  background-color: #2a2a2a;
}
.fa-check-circle {
  color: rgb(0, 249, 0);
  margin-right: 3px;
}
.fa-times-circle {
  color: red;
  margin-right: 3px;
}
.center-box h2 {
  font-family: "poppins";
  font-weight: 700;
  margin-bottom: 20px;
}

.text-field {
  border: 2px solid white;
  border-radius: 10px;
  font-size: 12pt;
  height: 35px;
  font-family: "poppins";
}

.btn-style {
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: gray;
  color: white;
  font-family: "poppins";
  font-weight: 600;
  cursor: pointer;
}
.btn-style:hover {
  color: white;
  animation: pulsate 1s ease-in-out;
}

.fa-close {
  cursor: pointer;
}

#closeForm-2 {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #2a2a2a;
  border: none;
  color: #89cff0;
  font-size: 20px;
}
#red {
  padding-top: 30px;
}
#closeForm {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #2a2a2a;
  border: none;
  color: #89cff0;
  font-size: 20px;
}

#login-btn {
  margin-top: 25px;
}
.hideL {
  display: none !important  ;
}
.an-btn {
  margin-top: 20px;
  border: 0;
  color: white;
  font-size: 11pt;
  background-color: #2a2a2a;
}
#register-div {
  padding-top: 10px;
  display: none;
}

#register-btn {
  margin-top: 15px;
}

#login-div {
  padding-top: 30px;
  display: none;
}

#logoutForm {
  display: none;
}

#login-password,
#login-email {
  padding-left: 8px;
  width: 220px;
  margin: 5px;
  cursor: pointer;
}
.fontpassword,
.fontpassword-r {
  position: relative;
}

.fontpassword .fa-eye {
  position: absolute;
  top: 15px;
  right: 70px;
  color: #a1a1a1;
  cursor: pointer;
}
.fontpassword-r .fa-eye {
  position: absolute;
  top: 21px;
  right: 70px;
  color: #a1a1a1;
  cursor: pointer;
}

#register-email,
#register-password,
#register-username {
  margin: 12px;
  padding-left: 20px;
  width: 220px;
  cursor: pointer;
}
@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #89cff0, 0 0 25px rgb(94, 221, 168);
  }
}
/* Navigation Bar End*/

hr {
  margin-top: 15px;
  width: 80%;
  border: solid 1px rgba(128, 128, 128, 0.125);
  margin-right: auto;
  margin-left: auto;
}

.purchase-now {
  font-family: "poppins";
  width: 155px;
  height: 45px;
  border: 1px solid #fff;
  opacity: 100%;
  color: #fff;
  background: none;
  cursor: pointer;
  font-size: 12px;
  top: 60%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}
.purchase-now:hover {
  color: #2a2a2a;
  background-color: #fff;
  transition-property: all;
  transition-duration: 0.5s;
}
/* 
---------------------------------------------
image - grid
--------------------------------------------- 
*/
.banner-wrapper {
  padding-top: 40px;
  display: grid;
  max-width: 100%;
  grid-gap: 30px;
  grid-auto-rows: 340px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 15px 15px;
}

.a {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  position: relative;
  text-align: center;
}

.b {
  grid-column: 3;
  grid-row: 1;
  position: relative;
  text-align: center;
}

.c {
  grid-column: 3;
  grid-row: span 1;
  position: relative;
  text-align: center;
}

.d {
  grid-column: 4;
  grid-row: 1 span 1;
  position: relative;
  text-align: center;
}

.e {
  grid-column: 4;
  grid-row: 1;
  position: relative;
  text-align: center;
}

.ba {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.centered h4 {
  top: 35%;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  top: 45%;
  left: 50%;
}

.centered-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: White;
  font-family: "poppins" l, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.b,
.c,
.d,
.e {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 93%;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0;
  transition: 00.5s ease;
  background-color: #2a2a2af7;
}

.b:hover .overlay,
.c:hover .overlay,
.d:hover .overlay,
.e:hover .overlay {
  opacity: 1;
}

.b:hover .centered-right h3,
.c:hover .centered-right h3,
.d:hover .centered-right h3,
.e:hover .centered-right h3 {
  display: none;
}

.text-hover {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-hover h3 {
  margin-bottom: 10px;
}

.grid-hover {
  font-size: 14px;
}

.view-now {
  font-family: "poppins";
  border: 1px solid #fff;
  opacity: 100%;
  color: #fff;
  background: none;
  cursor: pointer;
  font-size: 12px;
  margin-top: 15px;
}
.view-now:hover {
  color: #2a2a2a;
  background-color: #fff;
  transition-property: all;
  transition-duration: 0.5s;
}

.view-now h3 {
  margin-bottom: 0;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-bottom: 12px;
}

@media screen and (max-width: 1331px) {
  .banner-wrapper {
    display: block;
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .centered h4 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
  .purchase-now {
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ba {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 730px) {
  .centered h4 {
    font-size: 18px;
    font-weight: 700;
  }
  .purchase-now {
    width: 125px;
    height: 35px;
    margin-top: 10px;
    top: 70%;
    left: 50%;
  }

  .purchase-now h3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 446px) {
  .centered h4 {
    font-size: 15px;
    font-weight: 500;
  }
}
/* 
---------------------------------------------
showcase-product
--------------------------------------------- 
*/

.showcase-wrapper {
  background-color: rgba(128, 128, 128, 0.307);
  padding: 30px 30px;
  display: grid;
  margin-top: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 10px;
}
.showcase-heading {
  grid-column: 2;
  grid-row: 1;
}

.showcase-product-name {
  margin-left: 20px;
  font-family: "poppins";
  grid-column: 2;
  grid-row: 1;
}
.showcase-product-name h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "poppins", Helvetica, sans-serif;
}
.showcase-product-name h4 {
  font-size: 30px;
}
.product-right img {
  height: 500px;

  object-fit: cover;
}
.product-right {
  grid-column: 1;
}
.text-right {
  grid-column: 2;
  font-family: "poppins";
  grid-row: 2;
}
.showcase-wrapper2 {
  background-color: rgba(128, 128, 128, 0.307);
  padding: 30px 30px;
  display: grid;
  margin-left: 150px;
  margin-right: 150px;
}
.showcase-heading2 {
  grid-column: 2;
  grid-row: 1;
}

.showcase-product-name2 {
  margin-left: 20px;
  font-family: "poppins";
  grid-column: 1;
  grid-row: 2;
}
.showcase-product-name2 h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "poppins", Helvetica, sans-serif;
}
.showcase-product-name2 h4 {
  font-size: 30px;
}
.product-right2 img {
  height: 500px;

  object-fit: cover;
}
.product-right2 {
  grid-column: 2;
  grid-row: 2;
}
.text-right2 {
  grid-column: 1;
  font-family: "poppins";
}
@media screen and (max-width: 1200px) {
  .showcase-wrapper {
    display: inline-block;
  }
  .product-right {
    margin-top: 20px;
  }
}

/* 
---------------------------------------------
subscribe
--------------------------------------------- 
*/

.subscribe-wrapper {
  color: #a1a1a1;
  margin-top: 90px;
  display: grid;
  margin-bottom: 80px;
  margin-left: 100px;
  margin-right: 100px;
}
.subscribe-wrapper h1 {
  color: #2a2a2a;
  font-size: 30px;
  font-family: "poppins";
}
.subscribe-wrapper h2 {
  color: #2a2a2a;
  font-size: 15px;
  text-align: left;
  margin-bottom: 10px;
  font-weight: 800;
}
.subscribe-heading {
  grid-column: 1;
  grid-row: 1 span / 2;
  font-family: "Poppins";
  margin-left: 110px;
  color: #a1a1a1;
}
.sub {
  grid-column: 1 span;
  grid-row: 3;
  margin-left: 90px;
}
.line {
  grid-column: 1;
  grid-row: 2;
  margin-top: 15px;
  margin-left: 110px;
}
.subscribe-store-location {
  grid-column: 2;
  grid-row: 1;

  text-align: left;
  margin-right: 10px;
}

.subscribe-work-hours {
  grid-column: 3;
  grid-row: 1;
}

.subscribe-phone {
  grid-column: 2;
  grid-row: 2;
}
.subscribe-email {
  grid-column: 3;
  grid-row: 2;

  margin-bottom: 20px;
}
.subscribe-office-location {
  grid-column: 2;
  grid-row: 3;

  justify-content: center;
}

.subscribe-social-media {
  grid-column: 3;
  grid-row: 3;
}

.subscribe-wrapper ul li {
  color: #a1a1a1;
  font-size: 14px;
  list-style: none;
  font-weight: 500;
}
.subscribe-wrapper ul li a {
  color: #a1a1a1;
  text-decoration: none;
}

.sub-button {
  padding-top: 2px;
  grid-column: 5;
  grid-row: 3;
  width: 60px;
  height: 60px;
  display: inline;
  border: solid black 1px;
  border-radius: 0%;
  background-color: #2a2a2a;
  margin-left: 15px;
  font-family: "poppins";
  font-weight: 600;
  color: #fff;
}
.sub-button:hover {
  background-color: white;
  transition-duration: 0.9s;
  color: black;
  font-weight: 600;
  border: 1px solid grey;
}

.input {
  display: inline;
  height: 60px;
  width: 280px;
  border: 1px solid grey;
  margin: 15px;
  font-style: italic;
  font-family: "poppins";
  font-weight: 600;
  padding-left: 20px;
}

@media screen and (max-width: 790px) {
  .subscribe-wrapper,
  .subscribe-wrapper h2 {
    display: inline-block;
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  .subscribe-heading {
    margin-left: 0;
  }
  .sub {
    margin-left: 0;
  }
  .line {
    margin-left: 0;
  }

  .subscribe-wrapper,
  .subscribe-wrapper h2,
  .subscribe-heading h1,
  .subscribe-store-location {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
  }

  .input {
    width: 310px;
  }
  .sub-button {
    margin-left: 0;
    margin-bottom: 20px;
    display: inline-block;
    width: 310px;
  }
}
@media screen and (max-width: 650px) {
  .input {
    width: 250px;
  }
  .sub-button {
    width: 250px;
  }
}
@media screen and (max-width: 587px) {
  .input {
    width: 220px;
  }
  .sub-button {
    width: 220px;
  }

  .subscribe-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 370) {
  .input {
    width: 180px;
  }
  .sub-button {
    width: 180px;
  }
}
/* 
---------------------------------------------
footer
--------------------------------------------- 
*/

.footer-wrapper {
  text-align: left;
  padding-left: 20px;
  grid-auto-columns: 25%;
  display: grid;
}
.footer-address-location {
  grid-row: 1;
  color: white;
  padding-bottom: 10px;
}

.footer-shopping-categories {
  grid-column: 2;
  grid-row: 1;
  margin-left: 20px;
}

.footer-nav-links {
  grid-column: 3;
  grid-row: 1;
}

.footer-help-infromation {
  grid-column: 4;
  grid-row: 1;
}

.footer-social-media-link {
  grid-column: span 4;
  padding-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  border-top: 1px solid rgba(250, 250, 250, 0.3);
}

.footer-social-media-link p {
  position: absolute;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  font-family: "poppins";
}

footer .footer-social-media-link img:hover {
  width: 45px;
  height: 45px;
  transition: 0.2s;
}

.footer-social-media-link ul {
  list-style: none;
}

.footer-social-media-link ul li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 25px 5px 0 5px;
}

.footer-social-media-link img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
footer {
  padding: 60px 210px 60px 210px;
  font-family: "poppins";
  background-color: #2a2a2a;
}
.payment-methods {
  position: absolute;

  margin-top: 100px;
  font-size: 28px;
  color: #a1a1a1;
}

footer .logo {
  float: left;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-right: 10px;
}

footer .footer-logo-name {
  font-size: 17px;
  font-family: "poppins", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  margin-top: 11px;
}
footer .footer-logo-name span p {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: white;
  font-weight: 300;
}

footer ul {
  line-height: 25px;
}

footer ul li {
  list-style: none;
  display: block;
  margin-bottom: 10px;
}

footer ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  transition: all 0.3s;
  font-family: "poppins", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

footer ul li a:hover {
  color: #aaa;
}

footer h4 {
  font-family: "poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 17px;
}
.wheretofindus {
  margin-top: 20px;
}

.footer-social-media-link p {
  font-family: "Poppins";
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.footer-social-media-link ul {
  margin-top: 40px;
  list-style: none;
}

.footer-social-media-link ul li {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.footer-social-media-link img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.iradius {
  border-radius: 30px;
}
@media screen and (max-width: 1260px) {
  .footer-wrapper {
    display: inline-block;
    text-align: left;
  }
  .footer-shopping-categories {
    margin-left: 0;
  }
}
@media screen and (max-width: 1000px) {
  .footer-wrapper {
    text-align: center;
    display: inline-block;
  }

  footer h4 {
    font-size: 18px;
    font-weight: 600;
  }
  .footer-logo-name h1 {
    display: inline;
  }
  .logo {
    display: none;
  }
  footer-social-media-link img {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .footer-wrapper {
    margin-left: 40px;
  }
}
@media screen and (max-width: 540px) {
  footer {
    padding: 0 0 0 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .footer-wrapper {
    padding: 0 0 0 0;
    margin-left: 5px;
  }
}

/* 
---------------------------------------------
mens/ womens and kids products
--------------------------------------------- 
*/

:root {
  --white-light: rgba(255, 255, 255, 0.5);
  --alice-blue: #f8f9fa;
  --carribean-green: #40c9a2;
  --gray: #ededed;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

/* Utility stylings */
img {
  width: 100%;
  display: block;
}
.container {
  width: 88vw;
  margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title,
.sm-titlesa,
.sm-titlela {
  font-family: "poppins", sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}
.lg-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}
.md-title {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
.sm-title,
.sm-titlesa,
.sm-titlela {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}
.text-light {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
}

/* 
---------------------------------------------
Products section
--------------------------------------------- 
*/
.products {
  background: var(--alice-blue);
  padding: 3.2rem 0;
}
.products .text-light {
  text-align: center;
  width: 70%;
  margin: 0.9rem auto;
}
.product {
  margin: 2rem;
  position: relative;
}
.product-content {
  background: var(--gray);
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}
.product-img {
  background: var(--white-light);
  box-shadow: 0 0 20px 10px var(--white-light);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  transition: background 0.5s ease;
}
.product-btns {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.btn-primary,
.btn-cart,
.btn-buy {
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}
.btn-primary,
.btn-cart {
  background: black;
  color: white;
}
.btn-primary:hover,
.btn-cart:hover {
  background: gray;
}
.btn-buy {
  background: white;
}
.btn-buy:hover {
  background: gray;
  color: #fff;
}
.product-info {
  background: white;
  padding: 2rem;
}
.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating span {
  color: gray;
}
.product-name {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.product-price {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
}
.product-price:first-of-type {
  text-decoration: line-through;
  color: gray;
}
.product-img img {
  transition: transform 0.6s ease;
}
.product:hover .product-img img {
  transform: scale(1.1);
}
.product:hover .product-img {
  background: gray;
}
.product:hover .product-btns {
  opacity: 1;
}
.off-info .sm-title {
  background: gray;
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
}

.sm-titlela {
  background: red;
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
}

.sm-titlesa {
  background: orange;
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
}

/* product collection */
.product-collection {
  padding: 3.2rem 0;
}
.product-collection-wrapper {
  padding: 3.2rem 0;
}
.product-col-left {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("images/fashion-img-1.jpg") center/cover no-repeat;
}
.product-col-r-top {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("images/fashion-img-2.png") center/cover no-repeat;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
  padding: 2rem 1.5rem 3.2rem;
  margin: 5px;
}
.product-col-r-bottom > div:first-child {
  background: #eaa001;
}
.product-col-r-bottom > div:last-child {
  background: #0090ff;
}
.product-col-content {
  text-align: center;
  color: white;
}
.product-collection .text-light {
  opacity: 1;
  font-size: 0.8;
  font-weight: 400;
  line-height: 1.7;
}
.btn-dark {
  background: black;
  color: white;
  outline: 0;
  border-radius: 25px;
  padding: 0.7rem 1rem;
  border: 0;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.6s ease;
  font-size: 1rem;
  font-family: inherit;
}
.btn-dark:hover {
  background: gray;
}

@media screen and (min-width: 992px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-col-r-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .product-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .product {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .products .text-light {
    width: 50%;
  }
}

@media screen and (min-width: 1336px) {
  .product-items {
    grid-template-columns: repeat(4, 1fr);
  }
  .product-collection-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .flex {
    height: 60vh;
  }
  .product-col-left {
    height: 121.5vh;
  }
}

.ba {
  background-color: #dcdcdc;
  filter: brightness(95%);
}
/* 
---------------------------------------------
contact-us
--------------------------------------------- 
*/

.contact-wrapper {
  display: grid;
  margin-bottom: 180px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  grid-gap: 60px;
  justify-content: center;
}
.google-map {
  grid-column: 1;
}

.form-column {
  grid-column: 2;
}
.form-column input {
  color: black;
}
.contact-fc {
  font-style: italic;
  font-family: "poppins";
  font-size: 16px;
  margin-top: 30px;
  display: inline-block;
  width: 255px;
  height: 44px;
  padding: 0 15px;
}

#name_fm {
  margin-right: 30px;
}
#subject_fm {
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 544px;
  height: 164px;
  padding: 0 15px;
}
.alert,
.alert2 {
  width: 100%;
  background: #2a2a2a;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  display: none;
}
#con {
  margin-right: 5px;
}
@media screen and (max-width: 1127px) {
  #contactForm {
    margin-top: 20px;
    margin-left: 10px;
  }

  .contact-wrapper,
  #subjct_fm {
    justify-content: center;
    display: inline-block;
  }
  #subject_fm,
  #name_fm,
  #email_fm,
  .alert {
    width: 541px;
  }
  #f-button {
    width: 541px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 580px) {
  #subject_fm,
  #name_fm,
  #email_fm,
  .alert {
    width: 400px;
  }
  #f-button {
    width: 400px;
  }
  .gmap_canvas {
    width: 400px !important ;
    margin-left: 10px;
  }
}
@media screen and (max-width: 458px) {
  #subject_fm,
  #name_fm,
  #email_fm,
  .alert {
    width: 280px;
  }
  #f-button {
    width: 280px;
  }
  .gmap_canvas {
    width: 275px !important ;
    margin-left: 5px;
  }
}

@media screen and (max-width: 337px) {
  #subject_fm,
  #name_fm,
  #email_fm,
  .alert {
    width: 240px;
  }
  #f-button {
    width: 240px;
  }
  .gmap_canvas {
    width: 230px !important ;
    margin-left: 5px;
  }
}

.form-column form button {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  background-color: #2a2a2a;
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
  transition: all 0.3s;
}

.form-column form button:hover {
  background-color: #fff;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
}

body {
  animation: transitionIn 1s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 
---------------------------------------------
About Us
--------------------------------------------- 
*/

.about-wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  margin-bottom: 150px;
}

.about-wrapper {
  margin-top: 60px;
  text-align: center;
}

.about-wrapper h1 {
  font-family: "poppins", sans-serif;
  font-size: 48px;
  color: black;
  margin-bottom: 25px;
}

.our_team {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member {
  width: 250px;
  margin: 5px;
  background: #fff;
  padding: 20px 10px;
}

.our_team .team_member .member_img {
  background: #e9e5fa;
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img {
  width: 100%;
  height: 100%;
}

.our_team .team_member h3 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
}

.our_team .team_member span {
  font-size: 15px;
}

.our_team .team_member p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

.our_team .team_member .member_img .social_media {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0, 0, 0, 0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item {
  margin: 0 10px;
}

.our_team .team_member .member_img .social_media .fab {
  color: white;
  font-size: 20px;
}

.our_team .team_member .member_img:hover .social_media {
  transform: scale(1);
}
/* 
---------------------------------------------
shopping-cart
--------------------------------------------- 
*/
.grand-total {
  color: gray;
}

.shop_cart {
  padding: 20px;
  border: gray solid 1px;
  width: auto;
  margin-top: 0;
  margin-left: auto;
  right: 220px;
  top: 135px;
  bottom: 150px;
  position: fixed;
  display: none;
  z-index: 10;
  background-color: white;
  opacity: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#shop-close {
  float: right;
  cursor: pointer;
}

#shop-show {
  border: none;
  cursor: pointer;
  background-color: white;
}

#shop-alert {
  color: red !important ;
  font-size: 10px;
  margin-left: 3px;
  opacity: 0;
}
.td {
  color: white !important;
}

.col-md-,
.col-lg-4 {
  margin-bottom: 20px;
}
.sty {
  font-size: 18px !important;
  color: black !important;
}
.num {
  width: 80px;
  height: 30px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
}
.uk-border-circle {
  width: 100px !important;
  height: 100px !important;
}

.btn-primary {
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}
.btn-primary {
  background: black;
  color: white;
}
.btn-primary:hover {
  background: gray;
}

.table-cart th,
td {
  padding: 20px;
  text-align: center;
}

.table-cart th {
  background-color: #d3d3d3;
}

.btn-dan {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn-dan:hover,
.btn-dan:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.btn-dan:active {
  opacity: 0.5;
}

.cart-name {
  margin-bottom: 15px;
}

.checkout {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.checkout:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.checkout:hover {
  background-color: #2c974b;
}

.checkout:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.checkout:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.checkout:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.payment-sum {
  margin-bottom: 8px;
}

@media screen and (max-width: 1110px) {
  .shop_cart {
    width: 100%;
    overflow-x: auto;
    margin-left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .cart-name {
    width: 100%;
  }
}

#shop-close {
  float: right;
  cursor: pointer;
}

#shop-show {
  border: none;
  cursor: pointer;
  background-color: white;
}

#shop-alert {
  color: red !important ;
  font-size: 10px;
  margin-left: 3px;
  opacity: 0;
}
/* 
---------------------------------------------
checkout-form
--------------------------------------------- 
*/

.payment-wrapper {
  margin-top: 20px;
  justify-content: center;
  justify-items: center;
  font-family: "poppins";
}

.fa-cc-mastercard {
  color: red;
}

.fa-credit-card {
  color: orange;
}

.fa-cc-visa {
  color: navy;
}

.payment-container input {
  border-radius: 5px;
}

.payment-container {
  padding-left: 10px;
  padding-right: 10px;
  padding: 40px;
  margin: 20px 300px 90px 300px;
  background-color: #2a2a2a17;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
  border-radius: 5px;
  border: 2px solid #2a2a2a;
}
.personal-info {
  grid-column: 1;
  grid-row: 2;
  padding: 15px;
}
.card-info {
  grid-column: 2;
  grid-row: 2;
  padding: 15px;
}
.cart-info {
  grid-column: 3;
  grid-row: 2;
  padding: 15px;
}

.title {
  grid-row: 1;
  grid-column: 2;
  color: #2a2a2a;
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

.payment-input {
  border: 1px solid #a1a1a1;
  width: 250px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  padding-left: 20px;
  font-size: 16px;
}

.pay-title {
  margin-bottom: 8px;
}

.date,
.cvc,
.city,
.zip-code {
  text-align: center;
  border: 1px solid #a1a1a1;
  width: 73px;
  margin: 8px;
  height: 40px;
  font-size: 16px;
}

.payment-item {
  margin-bottom: 10px;
}

.payment-items {
  display: inline-block;
}

.payment-button {
  margin-top: 10px;
}

.pyt-button {
  font-family: "poppins";
  font-weight: 700;
  border: 1px solid black;
  opacity: 100%;
  background-color: #2a2a2a;
  color: white;
  cursor: pointer;
  font-size: 12px;
  margin-top: 15px;
  padding: 10px;
}
.pyt-button:hover {
  color: black;
  background: white;
  transition-property: all;
  transition-duration: 0.5s;
}
.payment-icons {
  color: #a1a1a1;
  font-size: 30px;
}
.accepted-meth {
  margin-top: 8px;
}
.payment-sub {
  display: inline-block;
}
.payment-ship {
  display: inline-block;
}
.payment-grand {
  display: inline-block;
}
.payment-vat {
  display: inline-block;
}

.cvc,
.date,
.zip-code,
.city {
  margin: 0;
  margin-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.payment-items > label {
  display: block;
}

#bpmt-total,
#bpmt-total2,
#bpmt-total3,
#pmt-total,
#pmt-total2,
#pmt-total3,
#payment-ship {
  color: #a1a1a1;
  float: right;
}
#payment-hr {
  border: 2px solid #2a2a2a;
  border-radius: 2px;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

@media screen and (max-width: 1450px) {
  .payment-container {
    margin: 20px 90px 90px 90px;
  }
  #payment-hr {
    display: block;
    border: 2px solid #2a2a2a;
  }
}
@media screen and (max-width: 1050px) {
  .payment-container {
    margin: 20px 10px 90px 10px;
  }
}
@media screen and (max-width: 930px) {
  .payment-input {
    width: 200px;
  }
  .payment-input label {
    display: none;
  }
}
@media screen and (max-width: 895px) {
  .payment-input {
    display: block;
  }
}
@media screen and (max-width: 770px) {
  .payment-container {
    display: block;
    margin: 20px 100px 90px 100px;
  }
}
@media screen and (max-width: 650px) {
  .payment-container {
    margin: 20px 70px 90px 70px;
  }
}
@media screen and (max-width: 490px) {
  .payment-container {
    margin: 20px 40px 90px 40px;
  }
}
@media screen and (max-width: 400px) {
  .payment-container {
    margin: 20px 20px 90px 20px;
  }
  .payment-input {
    width: 170px;
  }
}
@media screen and (max-width: 320px) {
  .payment-container {
    margin: 20px 5px 90px 5px;
  }
  .payment-input {
    width: 160px;
  }
}

/* 
---------------------------------------------
all-alert-messages 
--------------------------------------------- 
*/

.cartcon,
.msg {
  background: #2a2a2a;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  display: none;
  max-width: 25%;
  justify-content: center;
  position: fixed;
  z-index: 12;
  top: 10%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.pay-hide {
  display: none;
}
